/*UTLITY*/

floatleft {float:left;}
floatright {float:right;}

body {
	background:black; 
	font-family: courier new; 
	color:white; 
	margin:0;}


/*STRUCTURE*/

	header {
		width:100%; 
		height:60px; 
		background:rgb(0,0,0); 
		padding:5px 0; 
		margin-bottom: 5px;
		}


	#logo { width: 200px; 
		height: 60px;
		background: rgb(200,200,200); 
		float: left;
		}


	#logo2 { width: 150px; 
		height: 60px; 
		float: right;
		}
	

	nav {	float:left; 
		margin-left:300px;
		}

	nav li {	
		display:inline; 
		margin-right:20px; 
		font-weight:bold; 
		font-size:18px;
		}


	nav li a {
		color: cornflowerblue; 
		text-decoration:none;
		}

	nav li a:hover {
		color:pink; 
		text-decoration:underline;
		}
	

	.button { 
		width: 150px; 
		height: 30px; 
		background:linear-gradient(#ec9cb0, #f88eae); 
		text-align: center; 
		padding: 15px 5px 5px; 
		margin: 5px 5px 0 0; 
		border: 1px solid rgb(150,150,150); 
		border-radius: 5px; cursor: pointer;
		}

	.button a {
		color: cornflowerblue; 
		text-decoration:none;
		}

	.button:hover {
		background:pink;
		}
	
	
		
	section.hero {
		width:100%; 
		height:400px; 
		background: black;
		padding:5px 0; margin-bottom:5px; 
		border-top: solid 1px #fb04d1; 
		}
	
	.heroimage { 
		width: 480px; 
		height:380px; 
		background: black;
		float:left; 
		margin: 10px 0px 0px 20px; 
		border-bottom:solid 1px #fb04d1;
		}

	.herocontent {
		width: 400px; 
		float:left;
		margin-left: 20px; 
		padding-top: 40px; 
		}
	
	section.hero h1	{ 
		font-size:30px; 
		margin-bottom:-10px
		}
							
	section.hero p 
		{margin-bottom: 60px; } 

	section.hero .button 	(
		width:225px; 
		height:40px; 
		padding-top: 25px;
		font-size:20px;
		}	

	
	section.features {
		width:940px; 
		height:450px; 
		background:black;
		margin:0 auto 5px; 
		padding: 5px 0;  
		}

		section.features h2 {
			font-size:24px; 
			text-align:center; 
			margin-bottom; -20px; 
			}
				
		section.features h4 {
			font-weight:normal; 
			text-align:center; 
			margin-bottom: 60px;
			}
			
			
		section.features aside	{
			width:286px; 
			height: 200px; 
			float:left; 
			text-align:center; 
			margin-left:20px; 
			background: pink; 
			border-right: solid 1px #fb04d1;
			}
					
		section.features. aside img {
			width:100%; height: 170px; 
			background:rgb(200,200,200);
			}
				
				
		section.organize {
			width:100%; 
			height:310px; 
			background:black; 
			padding:5px 0; 
			margin-bottom:-1px;  
			}
						
		section.organize img, section.share img {
			width:440px; 
			height:220px; 
			float:left;
			margin-left:20px; 
			margin-top:20px;
			background: cornflowerblue;
			border-left:solid 1px #fb04d1;
			}
						
						
		.organizecontent, .sharecontent {
			float:left; 
			margin-left:20px; 
			width:440px;
			border-bottom: solid 1px #fb04d1;
			}
				
	
		section.share {
			width:940px; 
			height:300px; 
			background:black;
		 	margin: 0 auto 5px;	
			padding: 5px 0; 
			}
		
		
		section.get {
			width:100%; 
			height:100px; 
			background:rgb(0,0,0); 
			padding: 5px 0; 
			margin: 0 auto; 
			border-right:  1px #fb04d1; 
			border-left: solid 1px #fb04d1; 
			}
			
		section.get h2 {
			font-size:30px; 
			float:left; 
			color:rgb(255,255,255); 
			margin-left:60px; 
			margin-top:30px;
			}
		
			/*section.get .button {margin-right: 60px; margin-top: 25px;}
		*/
		
		
			
		section.get aside {
			width:50px; 
			height: 40%; 
			float:left;
			text-align:center; 
			margin: 0 auto; 
			margin-top: 5px; 
			margin-left: 100px; 
			padding: 0 5px;
			background: #292328; 
			border-bottom: solid 1px #fb04d1;
			border-radius: 55px;
			}
		
		section.get aside h3 {
			font-size:5px;  
			color:rgb(255,255,255); 
			margin-left:60px; 
			margin-top:1px;
			}
			
		
	footer {
		width:100%; 
		height:60px; 
		background:black;  
		padding: 5px 0;
		text-align:center; 
		margin: 0 auto; 
		margin-top:10px; 
	}
	
	
	/*settings of properties for container divs starts below*/	
	
	.container {
		width:940px; 
		height:100%;		
		margin: 0 auto; 
		}
/*setting margin 0 auto is a dynamic function auto calcs  space on left & right -
													 */	
